:root  {
  --main-bg: #ffffff;
  --accent: #ffa69e;
  --accent-hover: #ff686b;
  --secondary: #82dbc5;
  --secondary-hover: #6db8a5;
  --dark: black;
  --grey: #9F9F9F;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: auto;
  overflow-x: hidden;

  }

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button:focus {
  outline: none;
}
.btn.green {
  background: var(--secondary);
  transition: all ease-in-out 0.3s;
}
.btn.green:hover {
  background: var(--secondary-hover);
}
.btn.accent {
  background: var(--accent);
  transition: all ease-in-out 0.3s;
}

.btn.accent:hover {
  background: var(--accent-hover);
}